<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_crud_practice_root" name="CRUD Practice" sequence="10"/>

    <menuitem id="menu_practice_note" name="Practice Notes"
              parent="menu_crud_practice_root"
              action="action_practice_note" sequence="10"/>

</odoo>
